#new-game-round {
    display:none;
    background-color: #333;
    margin-left: 31.5%;
    margin-top: 50px;
    color: #fff;
    width: 37.5%;
    height: 150px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.passed-player {
    color: gray !important;
    background-image: none !important;
    background-color: #333 !important;
    border-top: 1px solid #464646 !important;
    border-left: 1px solid #333 !important;
    border-radius: 0px !important;
    border-right: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
}

.crop {
    width: 200px;
    height: 120px;
    overflow: hidden;
}

.crop img {
    width: 120px;
    margin: 0px 0 0 17%;
}

.tracker-content-0 {
    background-color: #A09131;
}

.tracker-content-1 {
    background-color: rgb(187, 87, 87);
}

.tracker-content-2 {
    background-color: #E6894A;
}

.tracker-content-3 {
    background-color: #E6E65D;
}

.tracker-content-4 {
    background-color: #325E35;
}

.tracker-content-5 {
    background-color: #61B465;
}

.tracker-content-6 {
    background-color: rgba(218, 224, 233, 0.27);
}

.tracker-content-7 {
    background-color: #446BA5;
}

.tracker-content-8 {
    background-color: #764891;
}

.tracker-content-left {
    position: absolute;
    left: 12.5%;
    top: 25%;
    height: 60%;
    width: 25%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size: 20px;
}

.tracker-content-right {
    position: absolute;
    right: 12.5%;
    top: 25%;
    height: 60%;
    width: 25%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size: 20px;
    z-index: 999;
    padding: 0px 20px 0px 20px;
}


.tracker-card-name {
    font-size: 40px !important;
    margin-top: 4px;
}

.move-icon, .lock-icon {
    float: right;
    font-size: 17px;
    padding: 3px;
    color: rgba(196, 196, 196, 0.61);
    position: relative;
}


#round-counter {
    margin-top: -25px;
    padding-top: 90px;
    color: #F1F1F1;
    font-size: 150px;
    text-align: center;
     -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

#sc-label-1 {
    background-color: #AA4242;
}

#sc-label-2 {
    background-color: #E06E38;
}

#sc-label-3 {
    background-color: #DDD400;
}

#sc-label-4 {
    background-color: #214B23;
}

#sc-label-5 {
    background-color: #3D9748;
}

#sc-label-6 {
    background-color: #32948C;
}

#sc-label-7 {
    background-color: #224983;
}

#sc-label-8 {
    background-color: #543969;
}


.tracker-sc-label {
    width:12.5%;
    float:left;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    padding: 5px;
    box-shadow: 10px 10px 5px #888888;
     -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}


#draggable-player-1, #draggable-player-2, #draggable-player-3, #draggable-player-4,
#draggable-player-5, #draggable-player-6, #draggable-player-7, #draggable-player-8 {
    width: 12.5%;
    height: 100px;
    text-align: center;
    cursor: move;
    font-size: 20px;

    box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
background-repeat: repeat-x;
color: #333;
background-color: #f5f5f5;
border-top: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: 1px solid #f5f5f5;
border-radius: 5px;
box-shadow: 10px 10px 5px #888888;
 -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

#sortable { width: 100%; height: 35px; display: inline-block;  }

#sortable > div { float: left; }
p { padding: 0.5em; }




#custom-input {
    display:none;
}

.module-help {
    cursor: pointer;
    color: black;
}

.module-help:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.27);
}

#se-modules, #sott-modules {
    display:none;
}


.right-table-help {
    float: right;
}

.recommended-sott, .recommended-se. .recommended-none {
    display: inline;
}

.carousel-inner {
     -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

.popover{
    width:200px;
    height:250px; 
    max-width: 500px;   
}


.sc-caption-header {
    font-size: 9px;
}

.sc-caption-list {
    font-size: 10px;
    margin-left: -25px;
    text-align: left;
}

.read-more {
    cursor: pointer;
}

.more-info {
    cursor: pointer;
    color: #fff;
    padding: 6px;
    border-radius: 12px;
}

.more-info:hover {
       color: rgba(0, 0, 0, 0.53);
       text-decoration: none; 
}

#setting-expansions, #setting-strategy, #setting-race, #setting-modules {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}

#setting-expansions:focus, #setting-strategy:focus, #setting-race:focus, #setting-modules:focus {
    outline: 0;
}

.race-item {
    width: 10%;
    float:left;
    height: 200px;
}

.race-image {
    height: 120px;
    background-size: 120px;
    background-repeat: no-repeat;
    cursor: pointer;

    -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

.race-image:hover {
    height: 120px;
    background-size: 120px;
    background-repeat-x: no-repeat;
    cursor: pointer;
    opacity: 0.9;
    filter: alpha(opacity=70);
}

.race-row {
    height: 230px;
}

.race-name {
    text-align: center;
    margin-left: -10px;
    margin-top: 5px;
    color: #428bca;
}


#letnev {
    background-image: url('../images/races/the_barony_of_letnev.png');
}

#hacan {
    background-image: url('../images/races/the_emirates_of_hacan.png');
}

#sol {
    background-image: url('../images/races/the_federation_of_sol.png');
}

#l1z1x {
    background-image: url('../images/races/the_l1z1x_mindnet.png');
}

#mentak {
    background-image: url('../images/races/the_mentak_coalition.png');
}

#naalu {
    background-image: url('../images/races/the_naalu_collective.png');
}

#sardakk {
    background-image: url("../images/races/the_sardakk_n'orr.png");
}

#jol_nar {
    background-image: url('../images/races/universities_of_jol-nar.png');
}

#xxcha {
    background-image: url('../images/races/the_xxcha_kingdom.png');
}

#yssaril {
    background-image: url('../images/races/the_yssaril_tribes.png');
}

#saar {
    background-image: url('../images/races/the_clan_of_saar.png');
}

#muaat {
    background-image: url('../images/races/the_embers_of_muaat.png');
}

#winnu {
    background-image: url('../images/races/the_winnu.png');
}

#yin {
    background-image: url('../images/races/the_yin_brotherhood.png');
}

#arborec {
    background-image: url('../images/races/the-arborec.png');
    height: 142px;
    margin-top: -11px;
}

#creuss {
    background-image: url('../images/races/the-ghosts-of-creuss.png');
    height: 146px;
}

#nekro {
    background-image: url('../images/races/the-nekro-virus.png');
    background-size: 130px;
    width: 130px;
    margin-top: 14px;
    height: 117px;
}

#lazax {
    background-image: url('../images/races/lazax.png');
    background-size: 145px;
    height: 122px;
    width: 145px;
    margin-left: 10px;
    margin-top: 8px;
}




.carousel-caption {
    
    bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    top: 0px;

}

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
    width: 12%;
    float: left;
    margin-right: 5.5px;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8{
    margin: 20px;
}

.carousel-indicators {
    bottom: 0px !important;
}








.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853
}


.form-control {height: 26px !important;}

#save-btn {
    margin: 4px 5px;
    float:right;    
}

#add-player {
    margin-left: 6px;
    width: 99%;
}




.pieContainer {
    height: 200px;
    transform: scale(.6, .6);
}
.pieBackground {
    background-color: grey;
    position: absolute;
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -moz-box-shadow: -1px 1px 3px #000;
    -webkit-box-shadow: -1px 1px 3px #000;
    -o-box-shadow: -1px 1px 3px #000;
    box-shadow: -1px 1px 3px #000;
}
.pie {
    position: absolute;
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    clip: rect(0px, 500px, 1000px, 0px);
}
.hold {
    position: absolute;
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    clip: rect(0px, 1000px, 1000px, 500px);
}
#strategy-1 {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
#strategy-1 .pie {
    background-color: #cc0000;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-2 {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-2 .pie {
    background-color: orange;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-3 {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}
#strategy-3 .pie {
    background-color: yellow;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-4 {
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
}
#strategy-4 .pie {
    background-color: green;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-5 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#strategy-5 .pie {
    background-color: LightGreen;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-6 {
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}
#strategy-6 .pie {
    background-color: LightSeaGreen;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-7 {
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform:rotate(270deg);
}
#strategy-7 .pie {
    background-color: blue;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-8 {
    -webkit-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -o-transform:rotate(315deg);
    transform:rotate(315deg);
}
#strategy-8 .pie {
    background-color: purple;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#needle {
    z-index: 9999;
    position: absolute;
    top: 31px;
    left: 31px;
    -webkit-transform:rotate(112.5deg);
    -moz-transform:rotate(112.5deg);
    -o-transform:rotate(112.5deg);
    transform: rotate(112.5deg);
    width: 936px;
}

