.module-help {
    cursor: pointer;
    color: black;
}

.module-help:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.27);
}

#se-modules, #sott-modules {
    display:none;
}


.right {
    float: right;
}

.recommended-sott, .recommended-se. .recommended-none {
    display: inline;
}

.carousel-inner {
     -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

.popover{
    width:200px;
    height:250px; 
    max-width: 500px;   
}


.sc-caption-header {
    font-size: 9px;
}

.sc-caption-list {
    font-size: 10px;
    margin-left: -25px;
    text-align: left;
}

.read-more {
    cursor: pointer;
}

.more-info {
    cursor: pointer;
    color: #fff;
    padding: 6px;
    border-radius: 12px;
}

.more-info:hover {
       color: rgba(0, 0, 0, 0.53);
       text-decoration: none; 
}

#setting-expansions, #setting-strategy, #setting-race, #setting-modules {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}

#setting-expansions:focus, #setting-strategy:focus, #setting-race:focus, #setting-modules:focus {
    outline: 0;
}

.race-item {
    width: 10%;
    float:left;
    height: 200px;
}

.race-image {
    height: 120px;
    background-size: 120px;
    background-repeat: no-repeat;
    cursor: pointer;

    -webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

.race-image:hover {
    height: 120px;
    background-size: 120px;
    background-repeat-x: no-repeat;
    cursor: pointer;
    opacity: 0.9;
    filter: alpha(opacity=70);
}

.race-row {
    height: 230px;
}

.race-name {
    text-align: center;
    margin-left: -10px;
    margin-top: 5px;
    color: #428bca;
}


#letnev {
    background-image: url('../images/races/the_barony_of_letnev.png');
}

#hacan {
    background-image: url('../images/races/the_emirates_of_hacan.png');
}

#sol {
    background-image: url('../images/races/the_federation_of_sol.png');
}

#l1z1x {
    background-image: url('../images/races/the_l1z1x_mindnet.png');
}

#mentak {
    background-image: url('../images/races/the_mentak_coalition.png');
}

#naalu {
    background-image: url('../images/races/the_naalu_collective.png');
}

#sardakk {
    background-image: url("../images/races/the_sardakk_n'orr.png");
}

#jol_nar {
    background-image: url('../images/races/universities_of_jol-nar.png');
}

#xxcha {
    background-image: url('../images/races/the_xxcha_kingdom.png');
}

#yssaril {
    background-image: url('../images/races/the_yssaril_tribes.png');
}

#saar {
    background-image: url('../images/races/the_clan_of_saar.png');
}

#muaat {
    background-image: url('../images/races/the_embers_of_muaat.png');
}

#winnu {
    background-image: url('../images/races/the_winnu.png');
}

#yin {
    background-image: url('../images/races/the_yin_brotherhood.png');
}

#arborec {
    background-image: url('../images/races/the-arborec.png');
    height: 142px;
    margin-top: -11px;
}

#creuss {
    background-image: url('../images/races/the-ghosts-of-creuss.png');
    height: 146px;
}

#nekro {
    background-image: url('../images/races/the-nekro-virus.png');
    background-size: 130px;
    width: 130px;
    margin-top: 14px;
    height: 117px;
}

#lazax {
    background-image: url('../images/races/lazax.png');
    background-size: 145px;
    height: 122px;
    width: 145px;
    margin-left: 10px;
    margin-top: 8px;
}




.carousel-caption {
    
    bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    top: 0px;

}

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
    width: 12%;
    float: left;
    margin-right: 5.5px;
}
.card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8{
    margin: 20px;
}

.carousel-indicators {
    bottom: 0px !important;
}








.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853
}


.form-control {height: 26px !important;}

#save-btn {
    margin: 4px 5px;
    float:right;    
}

#add-player {
    margin-left: 6px;
    width: 99%;
}




.pieContainer {
    height: 200px;
    transform: scale(.6, .6);
}
.pieBackground {
    background-color: grey;
    position: absolute;
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    -moz-box-shadow: -1px 1px 3px #000;
    -webkit-box-shadow: -1px 1px 3px #000;
    -o-box-shadow: -1px 1px 3px #000;
    box-shadow: -1px 1px 3px #000;
}
.pie {
    position: absolute;
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    clip: rect(0px, 500px, 1000px, 0px);
}
.hold {
    position: absolute;
    width: 1000px;
    height: 1000px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    -o-border-radius: 500px;
    border-radius: 500px;
    clip: rect(0px, 1000px, 1000px, 500px);
}
#strategy-1 {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}
#strategy-1 .pie {
    background-color: #cc0000;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-2 {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-2 .pie {
    background-color: orange;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-3 {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}
#strategy-3 .pie {
    background-color: yellow;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-4 {
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
}
#strategy-4 .pie {
    background-color: green;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-5 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#strategy-5 .pie {
    background-color: LightGreen;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-6 {
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}
#strategy-6 .pie {
    background-color: LightSeaGreen;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-7 {
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform:rotate(270deg);
}
#strategy-7 .pie {
    background-color: blue;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#strategy-8 {
    -webkit-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -o-transform:rotate(315deg);
    transform:rotate(315deg);
}
#strategy-8 .pie {
    background-color: purple;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
#needle {
    z-index: 9999;
    position: absolute;
    top: 31px;
    left: 31px;
    -webkit-transform:rotate(112.5deg);
    -moz-transform:rotate(112.5deg);
    -o-transform:rotate(112.5deg);
    transform: rotate(112.5deg);
    width: 936px;
}

